<!doctype html>
<html lang="es">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}"rel="stylesheet" >
    <title>{% block title %}{% endblock %} | KAKEBO-WEB </title>
    {% endblock %}
  </head>
  <body>
    {% extends 'navbar.html' %}
    <div class="container">
      {% block content %}
      <!-- Aqui va el contenido -->
      {% endblock %}
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
   <!--<script src="{{ url_for('static', filename='js.js') }}"></script>-->
  </body>
</html>
